/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset */
h1 {
  font-size: 20px;
}

/* restaurant display */
#gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#num-results {
  width: 90%;
  text-align: left;
}
#list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-top: 30px;
  width: 90%;
  margin-left: 130px;
}
#restaurant-container {
  width: 270px;
  height: 280px;
  margin-right: 60px;
  margin-bottom: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 6px lightgrey;
  cursor: pointer;
  z-index: 10;
  object-fit: cover;
}
.image {
  width: 100%;
  overflow: hidden;
}
.info {
  padding: 10px;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  align-items: center;
}
#about {
  margin-left: 70%;
  margin-right: 20px;
}
#num-results {
  padding-top: 30px;
  padding-left: 30px;
}
.name {
  font-weight: 700;
}

/* input component */
select {
  margin: 10px;
  padding: 3px;
  border-radius: 4px;
  width: 160px;
  font-size: 16px;
}
#input-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: row wrap;
  overflow: hidden;
  width: 100%;
  height: 300px;
  background-image: url("https://cdn.otstatic.com/cfe/5/images/25161502-fbb7de.jpg");
  background-position: center;
}
#overlay {
  background-color: rgb(67, 67, 82);
  opacity: 0.7;
  width: 100%;
  height: 300px;
  z-index: 0;
  position: absolute;
}
#button-container {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  z-index: 10
}
#filter-button {
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  font-size: 30px;
  background: none;
  color: white;
  width: 200px;
  border: none;
}
#filter-button:hover {
  transform: translate(0,-4px);
  transition: 0.2s;
}
#filter-section {
  margin-top: 40px;
  z-index: 10
}
#find {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  z-index: 10;
  color: rgb(255, 255, 255);
}
#clear {
  cursor: pointer;
  text-decoration: underline;
  z-index: 10;
  margin-top: 20px;
  font-size: 20px;
  padding: 2px;
  color: white;
}

/* modal window to start checkout */
.checkout {
  width: 600px;
  height: 600px;
  background-color: white;
  left: 35%;
  top: 10%;
  position: fixed;
  z-index: 100;
  border-radius: 4px;
  padding: 10px;
}
.main-overlay{
  z-index: 50;
  background-color: rgb(172, 172, 185);
  opacity: .6;
  width: 100%;
  height: 2000px;
  position: absolute;
  top: 0;
  left: 0;
}
.checkout-name {
  font-weight: 700;
  padding-bottom: 10px
}
.checkout-image {
  display: flex;
}
